@import "utilities/variables";

nav.breadcrumb {
  padding: 0px 18px;
  background: #f1f1f1;
  background-color: #292929;
  margin-bottom: 0.7rem;
  font-size: 0.9rem;
}

nav.breadcrumb {
  a {
    color: $neon-green;
  }

  a:hover {
      color: #e4e4e4;
  }
}
