@import "utilities/variables";

nav#main-nav.navbar {
  background: $neon-green;

  #time-machine {
    font-family: 'Bungee', cursive;
    text-shadow: -1px -1px 0px #3aff9b, -2px -2px 0px #ffffff, -3px -3px 0px #3aff9b00;
    // margin-left: 3px;
  }

  a.navbar-item:hover,
  a.navbar-item.is-active,
  a.navbar-link:hover,
  a.navbar-link.is-active {
    background: none;
    color: black;
  }
}
