$neon-green: #3aff9b;

#playlist-show {
  .hero-body {
    padding: 0 !important;
  }

  table#songs-table {
    background: #ffffff00;
    color: #dcdcdc;
    font-size: 0.9rem;

    td, th {
      border-bottom: 1px solid #333333;
    }

    .song-list-artwork {
      height: auto;
      width: 46px;
      margin-bottom: -5px;
    }

    tbody tr:not(.is-selected):hover {
      background-color: #232323;
    }
  }

  a:link, a:visited {
      color: white;
  }

  a:hover {
    color: #000000;
    background: #3aff9b;
  }

  .box {
    background: #272727;
    color: #dcdcdc;
  }

  #playlist-info-box {
    height: 100%;
  }

  .panel-heading {
    font-size: 1.05em;
    text-align: center;
    background-color: $neon-green;
    line-height: 1.15;
  }

  #playlist-version-column {
    .panel-heading, .panel-tabs, .panel-block {
      border-bottom: 1px solid $neon-green;
      border-left: 1px solid $neon-green;
      border-right: 1px solid $neon-green;
    }
    .panel-heading:first-child, .panel-tabs:first-child, .panel-block:first-child {
      border-top: 1px solid #3aff9b;
    }
  }
}
