%section.hero.is-danger#playlist-show
  .columns.is-gapless.is-vcentered
    .column.is-one-fifth
      %img.playlist-cover{ src: @playlist.playlist_versions.last.artwork_url }
    .column
      .hero-body
        %h1.title
          = @playlist.name
.columns.is-gapless
  .column.is-one-fifth
    Some text
  .column
    %table.table.is-fullwidth
      - @playlist.playlist_versions.last.songs.each do |song|
        %tr
          %td
            %img{ src: song.artwork_url }
          %td= song.name
          %td= song.artists.map(&:name).join(', ')
